.sidebarHeader {
   font-size: 22px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
}

.projects {
   position: relative;
   background-color: #2F3129;
   box-shadow: rgba(0,0,0,0.15) 1px 0px 2px;
   color: white;
   min-width: 160px;
   display: flex;
   flex-direction: column;
   flex: none;
}

.project {
   padding: 10px;
   background-color: transparent;
   transition: 0.3ms;
}

.projectName {
   display: inline-block; 
}
.projectName:after {
   display: block;
   content: '';
   border-bottom: 1px solid white;  
   transform: scaleX(0);  
   transition: transform 150ms ease-in-out;
   transform-origin:  0% 50%;
   margin: 2px;
}
.projectName:hover:after {
   transform: scaleX(1);
}
.projectName.underlined:after {
   transform: scaleX(1);
}

.addProject {
   transform: scale(0.8);
}
.addProject:hover {
   transform: scale(1);
   transition: 150ms;
}

.resizeBar {
   position: absolute;
   top: 0px;
   bottom: 0px;
   right: 0px;
   width: 2px;
}

.resizeBar:hover {
   cursor: ew-resize;
}