.sidebarHeader {
   font-size: 22px;
   padding: 10px;
}

.projects {
   position: relative;
   background-color: rgb(58, 58, 58);
   box-shadow: rgba(0,0,0,0.15) 1px 0px 2px;
   color: white;
   min-width: 200px;
   display: flex;
   flex-direction: column;
   flex: none;
}

.project {
   padding: 10px;
   background-color: transparent;
   transition: 0.3ms;
}

.project:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.projectName {
   transition: 0.3ms;
   border-bottom: none;
   width: 100%;
}

.currentProject {
   border-bottom: 1px solid white;
}

.addProject {
   border: none;
   border-radius: 3px;
   margin: 10px;
   padding: 10px;
   background-color: rgb(19, 100, 221);
   color: white;
}

.resizeBar {
   position: absolute;
   top: 0px;
   bottom: 0px;
   right: 0px;
   width: 2px;
}

.resizeBar:hover {
   cursor: ew-resize;
}